*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';    
}
.parent{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.main-container-1{
    background-image: url(foundation-product-branding.avif);
    backdrop-filter: blur(50px);
    height: 100vh;
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container-2{
    background-image: url(white\ borad.avif);
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input{
    width: 400px;
    height: 40px;
    margin: 10px 5px;
    border: 3px;
    padding-left: 10px;
    border-radius: 7px;
    border-color: rgb(255, 255, 255);
}
form button{
    padding: 9px 30px;
    background-color: rgb(122, 86, 38);
    color: white;
    border: 3px;
    border-radius: 7px;
    cursor: pointer;
    width: 400px;
    height: 40px;
    margin: 10px 5px;
}
span{
    text-decoration: none;
}
a{
    color: rgb(122, 86, 38);   
    text-decoration: none;
}
a span{
    text-decoration: underline;
} 
.h1{
    font-size: 50px;
    color:(black);
    font-weight: bold;
 }
.link{
    color: white;
}
.sign,em{
    color: rgb(122, 86, 38);
}
.empire{
    font-family: "Sofadi One", system-ui;
}
.p{
    color: black;
}